* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple50: hsl(260, 100%, 95%);
  --purple300: hsl(264, 82%, 80%);
  --purple500: hsl(263, 55%, 52%);
  --grey100: hsl(214, 17%, 92%);
  --grey200: hsl(0, 0%, 81%);
  --grey400: hsl(224, 10%, 45%);
  --grey500: hsl(217, 19%, 35%);
  --darkBlue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  --white: hsl(0, 0%, 100%);
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}

.daniel {
  grid-column: 1/3;
  background-color: var(--purple500);
}

.jonathan {
  grid-column: 3/4;
  background-color: var(--grey400);
}

.kira {
  grid-column: 4/5;
  grid-row: 1/3;
  background-color: red;
}

.jeanette {
  grid-row: 2/3;
  background-color: blue;
}

.patrick {
  grid-column: 2/4;
  background-color: var(--black);
}
